body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-dark: #161616;
  --text-dark: #ffffff;
  --text-light: #161616;
  --text-light-secondary: #6f6f6f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.main-view {
  width: 100vw;
  display: flex;
  min-height: 100vh;
}

.main-panel {
  width: 320px;
  display: flex;
  height: inherit;
  flex-direction: column;
  color: var(--text-dark);
  justify-content: space-between;
  background-color: var(--theme-dark);
}

.panel-title {
  text-align: left;
  padding: 68px 32px 32px 32px;
}

.panel-title__head,
.panel-title__sub {
  line-height: 30px;
}

.panel-title__head {
  font-size: 22px;
  font-weight: bold;
}
.panel-title__sub {
  font-size: 20px;
  font-weight: regular;
}

.panel-intro {
  padding: 32px;
}

.panel-intro__icon {
  margin-bottom: 16px;
}

.panel-intro__head,
.panel-intro__sub {
  line-height: 22px;
}
.panel-intro__head {
  font-weight: 600;
  font-size: 16px;
}
.panel-intro__sub {
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
}

.three-dots {
  margin-top: 48px;
  position: relative;
}
.three-dots::after {
  left: 12px;
}
.three-dots::before {
  left: 24px;
  background: var(--text-dark);
}
.three-dots,
.three-dots::after,
.three-dots::before {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid var(--text-dark);
}
.three-dots::after,
.three-dots::before {
  top: -1px;
  content: "";
  position: absolute;
}

.main-content {
  height: inherit;
  margin: 0px auto;
  max-width: 768px;
  padding-top: 84px;
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100% - 320px);
}

.content-headline {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.content-container {
  margin-bottom: 72px;
  padding-bottom: 32px;
}

.content-title {
  margin: 72px 0px 56px 0px;
}
.title__label {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: var(--text-light);
}
.title__link {
  font-size: 14px;
  margin-top: 4px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-light);
}

.content-copyright {
  bottom: 0px;
  padding: 40px;
  width: inherit;
  font-size: 12px;
  max-width: 768px;
  position: fixed;
  text-align: center;
  color: var(--text-light);
  background-color: var(--text-dark);
}

.submit-button {
  width: 100% !important;
  display: flex !important;
  max-width: 100% !important;
  padding-right: 16px !important;
}
.register-submit {
  height: 64px !important;
  margin-top: 22px !important;
}

.register-disclaimer {
  font-size: 12px;
  font-weight: 400;
  margin-top: 16px;
  line-height: 16px;
  color: var(--text-light-secondary);
}

.login-title {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  align-items: center;
}

/* overrides */
#gender-dropdown {
  height: 64px !important;
  max-height: 64px !important;
}

#gender-dropdown .bx--list-box__field {
  padding-top: 16px !important;
}

.bx--dropdown__wrapper.bx--list-box__wrapper {
  position: relative;
}

.bx--link {
  cursor: pointer !important;
}
